$color-black: #000;
$color-white: #FFF;

$color-grey: #34495e;
$color-green: #42b983;

$color-blueish: rgba(137, 207, 240, 0.5);
$color-redish: rgba(237, 41, 57, 0.5);
$color-greenish: rgba(116, 195, 101, 0.5);
